*{
	padding: 0;
	margin: 0;
}
body{
	background-color: hsl(217, 54%, 11%);
	font-size: 18px;
	text-align: center;
}
.card{
	
	margin: 50px auto;
	border-radius: 10px;
	background-color: hsl(216, 50%, 16%);
	padding: 1.5%;
	display: inline-block;
	height: auto;
	width: 275px;
	box-shadow: 0 8px 16px 0, 0 6px 20px 0 hsl(215, 32%, 27%);
}
.card-image{
	width: 100%;
	border-radius: 10px;
}
.card-text{
	padding: 1%;
	text-align: left;
}
.card-name{
	color: white;
	font-size: 24px;
	margin: 6% 0 5%;
	font-weight: 600;
}
.card-description{
	margin: 6% 0 5%;
	font-weight: 400;
	color: grey;
}
.card-info{
	padding: 2% 0;
	font-weight: 300;
}
.card-info-left{
	display: inline-block;
	text-align: left;
	width: 50%;
	color: hsl(178, 100%, 50%);

}
.card-info-right{
	display: inline-block;
	width: 50%;
	color: darkgrey;
	text-align: right;
}
.card-testimonial div{
	margin-bottom: 8px;
	margin-left: 8px;
	line-height: 2;
	display: inline-block;
	text-align: center;
}
.card-testimonial{
	padding: 4% 0 0 0;
	text-align: left;
}
.img-div{
	display: inline-block;
	width: 25px;
	padding: 3px;
	
}
.user-img{
		border-radius: 50%;
	border: 1px solid white;
	width: 100%;
}
@media (max-width: 700px){
	.card{
		padding: 3%;
	}
}
